<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>advertisements</title>
</head>

<body>
    <table width="99%"  border="0">
        <tr>
            <form action="http://localhost:8080/advertisement" method="get">
                <td style="background-color: #808080;">
                    <p name="name"></p>
                </td>
            </form>
            <td style="background-color: #808080;">
                <p>привет </p>
            </td>
            <td width="230" bgcolor="#808080">
                <p>привет </p>
            </td>
            <td width="230" bgcolor="#808080">
                <p>привет </p>
            </td>
            <td width="230" bgcolor="#808080">
                <p>привет </p>
            </td>
            <td width="230" bgcolor="#808080">
                <p>привет </p>
            </td>
            <td width="230" bgcolor="#808080">
                <p> </p>
            </td>
        </tr>
    </table>
</body>

</html>

